@font-face {
  font-family: "Sixtyfour";
  src:
    url("/sixtyfour.woff2") format("woff2"),
    url("/sixtyfour.woff") format("woff");
  font-style: normal;
  font-display: block;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 3.6rem;
  margin: 0 0 56px 0;
  padding: 0;
  font-weight: 400;
}

.interface-container,
.game-over-container,
.level-won-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.interface-container {
  padding: 64px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.extralives-container {
  display: flex;
  flex-direction: column;
  width: 64px;
}

.extralife-image {
  width: 64px;
  height: 64px;
}

.level-container,
.score-container {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 1.6rem;
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.game-over-container,
.level-won-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.game-over-text-wrapper,
.level-won-text-wrapper {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 5rem;
}
