@font-face {
  font-family: "Sixtyfour";
  src:
    url("/sixtyfour.woff2") format("woff2"),
    url("/sixtyfour.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "VT323";
  src:
    url("/VT323.woff2") format("woff2"),
    url("/VT323.woff") format("woff");
  font-style: normal;
  font-display: block;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 3.6rem;
  margin: 0 0 56px 0;
  padding: 0;
  font-weight: 400;
}

.interface-container,
.game-over-container,
.level-won-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.interface-container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

.extralives-container {
  display: flex;
  flex-direction: column;
  width: 64px;
}

.extralife-image {
  width: 64px;
  height: 64px;
}

.level-container,
.score-container {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 2.4rem;
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.instructions-container {
  display: flex;
  gap: 16px;
}

.instructions-bird {
  width: 100px;
  height: auto;
}

.instructions-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.instruction-wrapper {
  color: white;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  gap: 16px;
}

.arrow-image-wrapper {
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-image {
  width: 40px;
  height: 40px;
}

.game-over-container,
.level-won-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.game-over-text-wrapper,
.level-won-text-wrapper {
  color: white;
  font-family: "Sixtyfour", monospace;
  font-size: 5rem;
}
